{% extends 'base.html.twig' %}

{% block body %}
    <div id="cabecera">
        <h1>Información de alimentos</h1>
    </div>

    <div id="menu">
        <hr/>
        <a href="{{ path('homepage')}}">inicio</a> |
        <a href="#">ver alimentos</a> |
        <a href="#">insertar alimento</a> |
        <a href="#">buscar por nombre</a> |
        <a href="#">buscar por energia</a> |
        <a href="#">búsqueda combinada</a>
        <hr/>
    </div>

    <div id="contenido">
        {% block contenido %}

        {% endblock %}
    </div>

    <div id="pie">
        <hr/>
        <div align="center">- pie de página -</div>
    </div>

{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/estilo.css') }}"
          type="text/css" rel="stylesheet" />
{% endblock %}
